@import './colours.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
	margin: 0;
	background: rgba(18, 18, 18, 1);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

input {
	font-family: 'Raleway', sans-serif;

	&:focus {
		outline: none;
	}
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

.appContainer {
}

.container {
	width: 90vw;
}