@import './colours.scss';

body {
	margin: 0;
	background: $black;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

input {

	&:focus {
		outline: none;
	}
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

.appContainer {
	width: 90vw;
	height: 90vh;
	margin: 5vh 5vw;
	padding: 2vh 2vw;
	//background: $black;
}

